.header{
text-align: center;
background-color: blanchedalmond;
height: 100%;

}
.heading {
    font-size:32px;
    font-family:sans-serif;
    font-weight: bold;
    color: black;
    padding: 20px;
    margin-top: 10px;
     background-color: rgb(61, 60, 58);
    border-radius: 5px;

    
}
.button{
    
    border-style: solid;
    border-width: 2px;
    
    border-radius: 5px;
    font-size: 13px;
    margin-top: 30px;
    width: 150px;
    margin-right: 10px;
}
.button:hover{
    box-shadow: 0 0 5px ;
}
.form{
    width:300px;
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: gray;
   
    text-align: center;
    background-color: rgb(94, 90, 90);
    margin-top: 70px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding-top: 15px;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.form input{
    font-size: 14px;
    height: 33px;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin: 4px;
    padding-left: 5px;
} 
